# Projeto 3 - Speed Dating

## DESCRIÇÃO:

Para o projeto 3, o objetivo é de falar a uma pessoa se combina/'dar Match' ou não com outra através de alguns dados que ambos vão fornecer para a gente na hora. Uma espécie de Tinder, mas fora do mundo virtual.

 ##### O primeiro passo, foi procurar um dataset ideal para trabalharmos, ou seja, que contenha dados o suficiente para chegar em uma conclusão. Encontramos ele no OpenML ( Speed Dating), e no dataset contém tais informações:

* gender: Gênero da própria pessoa;
* age: Idade da própria pessoa;
* age_o: Idade do parceiro;
* d_age: Diferença de idade entre eles;
* race: Própria raça; 
* race_o: Raça do parceiro;  
* importance_same_race: Quão importante é seu parceiro ter a mesma raça que você? (0 a 10);  
* importance_same_religion: Quão importante é seu parceiro ter a mesma religião que você? (0 a 10); 
* field: Area de estudo;
* pref_o_attractive: Quão importante o parceiro classifica a atratividade? (0 a 100); 
* pref_o_sinsere: Quão importante o parceiro classifica a sinceridade? (0 a 100);
* pref_o_intelligence: Quão importante o parceiro classifica a inteligencia? (0 a 100); 
* pref_o_funny: Quão importante o parceiro classifica ser engraçado? (0 a 100);
* pref_o_ambitious: Quão importante o parceiro classifica a ambição? (0 a 100);  
* pref_o_shared_interests: Quão importante o parceiro classifica compartilhar os mesmos interesses? (0 a 100);  
* attractive_o: Avaliação do parceiro sobre a pessoa quanto a atratividade. (0 a 10); 
* sincere_o: Avaliação do parceiro sobre a pessoa quanto a sinceridade. (0 a 10);
* intelligence_o: Avaliação do parceiro sobre a pessoa quanto a inteligência. (0 a 10);  
* funny_o: Avaliação do parceiro sobre a pessoa quanto o senso de humor. (0 a 10);
* ambitous_o: Avaliação do parceiro sobre a pessoa quanto a ambição. (0 a 10);  
* shared_interests_o:Avaliação do parceiro sobre a pessoa quanto a comunicatividade. (0 a 10);  
* attractive_important: Quão importante para você é a atratividade? (0 a 100);
* sincere_important: Quão importante para você é a sinceridade? (0 a 100); 
* intellicence_important: Quão importante para você é a inteligência? (0 a 100);
* funny_important: Quão importante para você é o senso de humor? (0 a 100);  
* ambtition_important: Quão importante para você é a ambição? (0 a 100);  
* shared_interests_important: Quão importante para você é a comunicatividade? (0 a 100);   
* attractive: Quão ambicioso você achou o parceiro? (0 a 10);  
* sincere: Quão ambicioso você achou o parceiro? (0 a 10); 
* intelligence: Quão ambicioso você achou o parceiro? (0 a 10);
* funny: Quão ambicioso você achou o parceiro? (0 a 10);
* ambition: Quão ambicioso você achou o parceiro? (0 a 10);  
* attractive_partner:  Quão atrativo você achou o parceiro? (0 a 10); 
* sincere_partner: Quão sincero você achou o parceiro? (0 a 10); 
* intelligence_partner: Quão inteligente você achou o parceiro? (0 a 10); 
* funny_partner: Quão engraçado você achou o parceiro? (0 a 10);
* ambition_partner: Quão ambicioso você achou o parceiro? (0 a 10);
* shared_interests_partner: Quão comunicativo você achou o parceiro? (0 a 10);    
* exercise: Seu interesse sobre exercicios (1 a 10); 
* art:Seu interesse sobre arte (1 a 10);
* clubbing: Seu interesse sobre festas (1 a 10);
* movies: Seu interesse sobre filmes (1 a 10);
* shopping:  Seu interesse sobre ir as compras (1 a 10); 
* interests_correlate: Avaliação sobre a sua classificação e sobre a classificação do seu parceiro quanto a questão de compartilhar interesses;  
* like: Gostou do seu parceiro? (1:SIM ; 0:NÃO);
* met: Já conhecia seu parceiro antes? (1:SIM ; 0:NÃO);
* match: Deu match ou não?(1:SIM ; 0:NÃO).

In [1]:
#importando as bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from math import pi

In [2]:
data_suja_completa=pd.read_csv("speeddating.csv")
data_suja_completa.head()

C:\Users\julia\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (3,10,11,15,16,17,18,19,39,40,41,42,43,44,51,52,53,54,55,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,107,109) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,1,female,21,27,6,[4-6],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,6,[6-8],[5-6],0,1,0,0
1,0,1,female,21,22,1,[0-1],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,5,[6-8],[5-6],1,1,0,0
2,1,1,female,21,22,1,[0-1],'Asian/Pacific Islander/Asian-American','Asian/Pacific Islander/Asian-American',1,...,[0-3],[3-5],7,?,[6-8],[0-4],1,1,1,1
3,0,1,female,21,23,2,[2-3],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,6,[6-8],[5-6],0,1,1,1
4,0,1,female,21,24,3,[2-3],'Asian/Pacific Islander/Asian-American','Latino/Hispanic American',0,...,[0-3],[3-5],6,6,[6-8],[5-6],0,1,1,1

# Análise Exploratória

 Nosso objetivo é classificar, a partir dos dados já existentes no Dataset, se um casal vai dar "Match" ou não, para isso, como o dataset foi baseado em um evento com varias rodadas, a coluna "wave"  foi retirada, por mostrar a rodada que o casal estava. Foram retiradas também, colunas que se referiam a expectativas sobre a noite do evento. Além disso, retiramos a coluna que falava se o casal era ou não da mesma raça, já que já tinha a raça de cada um, tornando  a coluna irrelevante.

In [3]:
data_suja_limpo=data_suja_completa[data_suja_completa!= "?" ]
data_suja_limpo.dropna(inplace=True)
data_suja_limpo.columns
data=data_suja_limpo.drop([], axis=1)
data.head()

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,1,female,21,27,6,[4-6],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,6,[6-8],[5-6],0,1,0,0
1,0,1,female,21,22,1,[0-1],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,5,[6-8],[5-6],1,1,0,0
3,0,1,female,21,23,2,[2-3],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,6,[6-8],[5-6],0,1,1,1
4,0,1,female,21,24,3,[2-3],'Asian/Pacific Islander/Asian-American','Latino/Hispanic American',0,...,[0-3],[3-5],6,6,[6-8],[5-6],0,1,1,1
5,0,1,female,21,25,4,[4-6],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],6,5,[6-8],[5-6],0,0,1,0

In [ ]:
A partir da tabela, temos como trabalhar com inúmeras variáveis, mas vamos escolher algumas que são mais relevantes para fazer uma análise mais atenta aos dados. As variáveis são:
FUNNY
AGE
GENDER
INTELIGENCIA
RAÇA
RELIGIAO
TRABALHO
SINCERIDADE
ATRAÇAO
AMBICIOSIDADE
COMPARTILHAR INTERESSES